@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url(../font/IBM_Plex_Sans/IBMPlexSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url(../font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
}
.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #282c34;
  box-shadow: 0px 0px 6px #282c34;
}

.App-title {
  font-size: 20px;
  margin-right: 21px;
}

.App-cerbie-logo {
  width: 121px;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32.8rem;
}

.full-height-container {
  min-height: 32.8rem;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #901000;
  cursor: pointer;
}

.info-password-title {
  color: rgb(0, 48, 87);
  font-size: 26px;
  font-weight: 700;
}

.info-landing-title {
  margin: 0;
  margin-top: 0 !important;
}

.info-password-subtitle {
  color: rgb(0 48 87 / 40%);
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 36px;
}

.info-content-actions {
  margin-top: 22px;
  padding: 5px 0px;
}

.info-content-subactions {
  margin-top: 10px;
}

.warn-content-actions {
  padding: 10px 0px;
}

.warn-save-title {
  color: #ee2400;
  font-size: 26px;
}

.warn-mnemonic {
  font-size: 16px;
  word-spacing: 14px;
  font-style: italic;
  transform: matrix3d(1, 0, 0, 0, -0.1, 1, 1, 0, 0, 0, 1, 0.5, 0, 0, 0, 1);
}

.warn-save-text {
  color: #282c34;
  font-size: 22px;
}

.warn-content-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.input-password {
  border: 0;
  width: 100vw;
  padding: 12px 0px;
  text-align: center;
  font-size: 39px;
  position: relative;
  background-color: #f2f2fc;
}

.button-normal {
  border-radius: 0 !important;
  border: 0;
  background-color: #282c34;
  color: #f2f2fc;
  padding: 10px 20px;
  transition: 0.225s background-color;
  cursor: pointer;
}

.button-normal:hover {
  background-color: #00c389;
}

.mnemonic-input-container {
  display: flex;
  flex-wrap: wrap;
}

.mnemonic-input-word {
  width: 20%;
  margin: 5px;
  border: 0;
  text-align: center;
  background-color: #f2f2fc;
}

.position-fix {
  position: initial;
}

.small {
  font-size: 13px;
}

.medium {
  font-size: 20px;
}

.green-text {
  color: #00c389;
}

.strong-1 {
  font-weight: bold;
}

.normal-1 {
  font-weight: 400;
}

.no-margin {
  margin: 0;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(10px);
  z-index: 0;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-form {
  filter: drop-shadow(0 0px 5px rgba(0,48,87,0.3));
  position: absolute;
  width: 304.4px;
  padding-bottom: 16px;
  background: rgba(255, 255, 255, 1);
  top: 206px;
  z-index: 1;
  left: 36px;
  border: 1px solid rgb(0, 48, 87, 0.1);
  min-height: 22px;
}

.modal-form-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-column-centered h2 {
  margin-top: 22px;
  font-size: 14px;
}

.modal-form-icon {
  margin-top: 4px;
}

.modal-close {
  position: absolute;
  width: 19px;
  left: 11px;
  top: 10px;
  cursor: pointer;
}

.w-100 {
  width: 100%!important;
}

.blue-text {
  color: #003057;
}

.modal-form-container {
  padding-top: 13px;
  padding-left: 22px;
  padding-right: 22px;
  word-break: break-all;
}

