.show-wallet-header {
    margin-top: 10px;
    height: 166px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.show-wallet-balance, .show-wallet-chart-title {
    font-size: 30px;
    color: rgb(0, 48, 87);
    margin-top: 15px;
    margin-bottom: 3px;
}

.show-wallet-chart-title {
    font-size: 13px;
    margin-bottom: 7px;
}

.show-wallet-eq-balance {
    font-size: 15px;
    color: rgb(0, 48, 87, 0.5);
    margin: 0;
}

.show-wallet-main-actions-buttons {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    gap: 26px;
    min-width: 360px;
}

.show-wallet-main-action-button {
    border: 0;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.225s color;
    color: rgb(0, 48, 87, 0.7);
    width: 16%;
    max-width: 100px;
}

.show-wallet-main-action-circle {
    width: 36px!important;
    height: 36px!important;
    border: 0;
    border-radius: 50%;
    background-color: #000E28!important;
    color: #f2f2fc;
    font-size: 11px;
    display: flex;
    justify-content: center;
    transition: 0.225s background-color;
}
.small-circle {
    width: 26px!important;
    height: 26px!important;
}

.show-wallet-main-action-button:hover {
    color: rgb(0, 48, 87, 1);
}
.show-wallet-main-action-button:hover .show-wallet-main-action-circle {
    background-color: #00c389!important;
}

.show-wallet-charts {
    margin-top: 13px;
    display:flex;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-bottom: 25px;
}

.show-wallet-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-wallet-choose-address, .show-wallet-choose-network {
    border: 0;
    background-color: #f2f2fc;
    color: rgba(0,48,87,.5);
    padding: 5px;
    padding-left: 10px;
    padding-right: 2px;
    font-family: "IBM Plex Sans";
}

.show-wallet-choose-network {
    position: relative;
    top: -24px;
}

.show-wallet-choose-address-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show-wallet-choose-address-copy {
    margin-left: 10px;
    color: gray;
    transition: 0.325s color;
    cursor: pointer;
}

.show-wallet-choose-address-copy:hover {
    color: rgb(0, 48, 87, 0.5);
}

.show-tokens-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.show-tokens-wrapper {
    width: 100%;
    column-gap: 10px;
    row-gap: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.show-tokens-wrapper div {
    width: 31%;
}

.show-wallet-eq-balance span {
    margin-top: 4px;
}

.input-select-funds {
    padding-right: 24px!important;
    padding-left: 38px!important;
    width: -webkit-fill-available!important;
}

.input-amount-funds {
    padding-right: 24px!important;
    padding-left: 38px!important;
    width: -webkit-fill-available!important;
}

.input-to-funds {
    padding-right: 24px!important;
    padding-left: 24px!important;
    width: -webkit-fill-available!important;
}

.info-send-funds-title {
    margin-bottom: 7px!important;
}

.modal-form-container h1:first-of-type {
    color: #003057;
    font-size: 20px;
    font-weight: 600;
}
