.sidebar-container {
    position: absolute;
    height: 37.5rem;
    width: 299px;
    background-color: #14274af5;
    right: -299px;
    z-index: 2;
    transition: all .5s;
    align-items: flex-start;
    margin-top: 540px;
}

.opened {
    transform: translateX(-299px);
    box-shadow: -3px 4px 6px rgb(0 0 0 / 20%);
}

.sidebar-close {
    position: relative;
    cursor: pointer;
    color: hsla(0,0%,100%,.6);
    width: 22px;
    left: 14px;
    top: 14px;
}

.sidebar-options-container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebar-options {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0!important;
    padding: 0;
}

.sidebar-options li {
    color: white;
    margin-top: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    font-size: 19px;
    cursor: pointer;
}

.seed-phrase-disclose {
    word-break: normal;
    text-align-last: initial;
    word-spacing: 23px;
    font-size: 21px;
}

.click-to-approve {
    position: absolute;
    left: 113px;
    top: 106px;
}